[Unit]
Description=GDocs
After=multi-user.target
StartLimitBurst=10
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
WorkingDirectory=/path/to
ExecStart=/path/to/gdocs
StandardOutput=append:/var/log/gdocs.log
StandardError=append:/var/log/gdocs.log

[Install]
WantedBy=multi-user.target
